

.item div{
    padding: 5%;
    text-align: left;
    line-height: 1.7em;
    margin: 3% 3% 3% 3%;
}

.item h2 {
  float: center;
  text-align: center;
  padding: 2%;
  margin: 2%;

}

.item{
  background-color: rgba(186, 186, 186, 1);
  margin: 3%;
  text-align: justify;
}


section > div {
  clear: both;
}

#header-nav{
  background-color: rgba(186, 186, 186, 1);
  border-radius: 0;
  border: solid
}

#header-nav div{
  color: black;
  /*text-decoration: none;*/
}

#header-nav a{
    color: black;
    text-decoration: none;
}

#header-nav a:hover{
    text-decoration:underline;
}



#nav-list li{
  border-style: solid;
  border-width: 2px;
  text-align: center;
  color: black;
  background-color: white;
  text-decoration:none;
  padding: 0%;
  margin-top: -2px;
}

#nav-list li a:hover{
  text-decoration:none;
}

#collapsable-nav{
  border: none;
}
