
body {
  font-family: Arial;
}
.container div,
.container div h2{
  border-style: solid;
  border-width: thin;
  float: none;
}

.container div{
  background-color: rgba(75, 68, 68, 0.26);
  text-align: justify;

}

.container div h2 {
  background-color: yellow;
}

h2 {
  float: right ;
}
